@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our stationary.</h1>
    <p>We sell book, printer, scanner and other stationary items.</p>
</div>
