<h3>You are encouraged to read community guidelines carefully before joining NT Free Items page.</h3>
<mat-accordion>
    <!--Credit goes to angular material library-->
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            Who can participate in this forum ?
        </mat-expansion-panel-header>
        <p>Someone who is over 18 years old and lives in NT. You must be earning low income as we do not allow people
            with lot of money to get free item from their none friends and family.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            What type of account can you use to sign ?
        </mat-expansion-panel-header>
        <p>You can only use Gmail Account or Facebook account at the moment to log into NT Free Items at the moment.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Are all items free in this website ?
        </mat-expansion-panel-header>
        <p>Yes, it is 100% true that all items in this website are free of cost.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Do I need to be CDU Student to post free item on this website ?
        </mat-expansion-panel-header>
        <p>No, you can be living in Northern Territory but students get priority as they would not have enough money.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          Is this website secure enough to post items?
        </mat-expansion-panel-header>
        <p>Yes, we do not share customer information to third party. We also allow secure authentication. We can't 100% guarantee but we do not play with customer information and we take strong action on forgery and website crawling. Alternatively, you can provide us your feedback on our website.</p>
    </mat-expansion-panel>
</mat-accordion>