
-- Create a new database called 'DatabaseName'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'NTFreeItems'
)
CREATE DATABASE NTFreeItems
GO

-- Create a new table called '[TableName]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[CustomerFeedback]', 'U') IS NOT NULL
DROP TABLE [dbo].[CustomerFeedback]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[CustomerFeedback]
(
    
    [FeedbackId] NVARCHAR(100) NOT NULL PRIMARY KEY, -- Primary Key column
    [Userid] NVARCHAR(50) NOT NULL,
    [UserName] NVARCHAR(50) NOT NULL,
    [UserType] NVARCHAR(50) NOT NULL,
    [CreatedTs] Timestamp NOT NULL
    -- Specify more columns here
);
GO



Use NTFreeItems;
-- Insert rows into table 'TableName' in schema '[dbo]'
INSERT INTO [dbo].[CustomerFeedback]
( -- Columns to insert data into
 [FeedbackId], [Userid], [Username], [UserType]
)
VALUES
( -- First row: values for the columns in the list above
 1, 2, 'Frank', 'admin'
),
( -- Second row: values for the columns in the list above
 2, 3, 'Rob', 'user'
)
-- Add more rows here
GO


-- Select rows from a Table or View '[TableOrViewName]' in schema '[dbo]'
SELECT * FROM [dbo].[CustomerFeedback]
GO

-- Delete rows from table '[TableName]' in schema '[dbo]'
DELETE FROM [dbo].[CustomerFeedback]
WHERE FeedbackId = 1 OR FeedbackId = 2/* add search conditions here */
GO



