<h1 id="tableLabel">Weather forecast</h1>

<p>This is example project left off for group.</p>

<div *ngIf="!forecasts"><em></em></div> 
<mat-spinner *ngIf="!forecasts">Loading</mat-spinner>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date | date: 'dd/mm/yyyy hh:mm:ss a'}}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td> 
    </tr>
  </tbody>
</table>
